{% extends "::base.html.twig" %}

{% block title %}Map{% endblock %}

{% block body %}
    <script type="text/javascript" src="{{ asset('js/components/slider.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/components/lightbox.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/components/slider.css') }}">

    <script type="text/javascript" src="{{ asset('js/map.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/comment.js') }}"></script>

    <div class="uk-container">
        <div class="uk-tile-primary">
            <h3 align="center">Map {{ username }}</h3>
        </div>
        <div class="uk-container">
            <div class="uk-align-right uk-text-small">You can choose another user:
            <select class="uk-text-small" id="userlist">
                {% for items in userlist %}
                    <option value="{{ items[0] }}">{{ items[1] }}</option>
                {% endfor %}
            </select>
                <button class="uk-button-mini uk-button" id="userlistbut">Go</button>
            </div>
        </div>
        <div class="uk-grid">
            <div class="uk-width-2-3">
                <div id="map" value="{{ user }}" iduser="{{ iduser }}" admin="{{ admin }}"></div>
                <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEF7mhKBOcKf3DOomC3CPSq8htToAlZ84&callback=initMap">
                </script>
            </div>
            <div class="uk-width-1-3">
                <ul id="marker_list">
                    {% for mark in markers %}
                        <li class="marker_link" value="{{ mark.id }}" coordx="{{ mark.coordX }}"
                            coordy="{{ mark.coordY }}">{{ mark.name }}
                            {% if (mark.userId == iduser) or is_granted('ROLE_ADMIN') %}
                                <a class="uk-float-right uk-icon-hover uk-icon-edit"
                                   href="/marker_edit/{{ mark.id }}"></a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <br>
    <div class="uk-container uk-hidden toggle-hidden">
        <b id="marker_title"></b>&nbsp;<span id="star_title"></span>
    </div>
    <div class="uk-container" data-uk-slider="{infinite: false}">
        <div class="uk-slider-container">
            <ul id="map_slider" class="uk-slider uk-grid-width-medium-1-6 uk-grid-small">
            </ul>
        </div>
        <br>
    </div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="uk-container toggle-hidden uk-hidden">
            <input id="comment_val" placeholder="Leave comment"/>
            <select id="comment_rate">
                <option value="0">&#9734;&#9734;&#9734;&#9734;&#9734;</option>
                <option value="1">&#9733;&#9734;&#9734;&#9734;&#9734;</option>
                <option value="2">&#9733;&#9733;&#9734;&#9734;&#9734;</option>
                <option value="3">&#9733;&#9733;&#9733;&#9734;&#9734;</option>
                <option value="4">&#9733;&#9733;&#9733;&#9733;&#9734;</option>
                <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
            </select>
            <button id="comment_but" class="uk-button uk-button-default">Send</button>
        </div>
    {% else %}
        <div class="uk-container toggle-hidden uk-hidden">
            <span class="uk-alert-danger">Only registered user can leave comments.</span>
        </div>
    {% endif %}
    <br>
    <div class="uk-container">
        <ul id="map_comments" class="uk-comment-list"></ul>
    </div>



{% endblock %}
