{% extends "::base.html.twig" %}

{% block title %}AppBundle:Data:data{% endblock %}

{% block body %}

    <script type="text/javascript" src="{{ asset('js/data.js') }}"></script>

    <div class="uk-container">
        <br>
        <div class="uk-tile-primary">
            <h3>Add marker</h3>
        </div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        <br>
        <div class="uk-hidden">
            <div class="uk-tile-primary">
                <h3>Add picture</h3>
            </div>
            <div id="add_picture_form">
                {{ form_start(form2) }}
                {{ form_widget(form2) }}
                {{ form_row(form2.filename) }}
                {{ form_end(form2) }}
            </div>
        </div>
    </div>
{% endblock %}
